* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/*******************NAVBAR********************/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #363636; /* Adjust the background color as needed */
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff; /* Adjust the color as needed */
  font-size: 25px;
}

.logo img {
  max-height: 50px; /* Adjust the size as needed */
  margin-right: 10px;
}

.nav-bar {
  display: flex;
  list-style: none;
}

.nav-bar li {
  margin-left: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
}

.nav-bar a:hover,
.nav-bar .active {
  color: #7ebfea;
}

/*******************HERO********************/

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero img {
  margin-left: 10px;
  max-width: 500px;
}
