* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #363636;
  overflow-x: hidden;
}

/*******************NAVBAR********************/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363636;
  padding: 0px 30px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  display: flex;
  align-items: center; /* Vertically centers the text and image within the link */
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.logo img {
  max-height: 60px;
  margin: 10px;
}

.menu-icon {
  display: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.nav-bar {
  display: flex;
  list-style: none;
}

.nav-bar li {
  margin: 0 10px;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
}

.nav-bar a:hover,
.nav-bar .active {
  color: orange;
}

/*******************HERO********************/

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(255, 228, 196, 0.37);
}

.hero img {
  margin: 50px 7px;
  max-width: 90%;
  width: 630px;
}

.hero_text {
  margin: 5rem;
}

.hero_text h1 {
  font-size: 3.2rem;
}

.hero_text p {
  margin-top: 3rem;
  line-height: 2.2rem;
  font-size: 1.3rem;
}

.hero_text button {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding: 1rem 2rem;
  color: #fff;
  background-color: orange;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.hero_text button:hover {
  transform: translate(20px, -10px);
  transition: ease-in-out 0.5s;
  background-color: #363636;
}

.users img {
  border: solid 0.15rem #fff;
  border-radius: 5rem;
  max-width: 100%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.users {
  display: flex;
}

.users .user {
  margin-right: -20px;
}

.users .user-text {
  margin-top: 60px;
  margin-left: 10px;
  font-weight: bold;
}

main {
  color: #fff;
  text-align: center;
}

.services {
  background-color: #363636;
  padding-bottom: 6rem;
}

.section_line {
  border-color: red;
  width: 15%;
  margin: auto;
}

.section_title {
  text-transform: uppercase;
  font-size: 1.8rem;
  padding-top: 6rem;
  margin-bottom: 1rem;
}

.section_title_paragraph {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 5rem 12rem 0 12rem;
  text-align: start;
}

.services article {
  background-color: #00000054;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.449);
}

.icon_article {
  color: red;
  margin: 2rem;
  font-size: 2rem;
}

article h3 {
  margin: 0 0 2rem 2rem;
}

article hr {
  height: 2px;
  border-width: 0;
  background-color: #363636;
}

article p {
  margin: 2rem 2rem 0 2rem;
}

article i {
  color: red;
  margin: 2rem;
}

article a {
  color: #fff;
  text-decoration: none;
  margin-left: -1.3rem;
}

article a:hover {
  color: orange;
}

/************** TESTIMONIALS **************/
.testimonial_section {
  padding-bottom: 3rem;
  background-color: rgba(255, 228, 196, 0.37);
}

.testimonial_title {
  font-size: 20px;
  padding-top: 4rem;
  margin-bottom: 1rem;
  color: #363636;
  font-weight: bolder;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 5rem 12rem 3rem 12rem;
}

.testimonials article {
  padding: 3rem;
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
}

.testimonials img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 5rem;

  width: 90px;
  height: 90px;
  object-fit: cover;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.stars i {
  margin: 3px;
  color: orange;
}

.testimonials article h3 {
  color: #363636;
  margin: 20px 0;
}

.testimonials article p {
  color: #363636;
  margin: 0;
}

/************** CONTACT **************/

.contact_section {
  background-color: rgba(255, 228, 196, 0.37);
  padding: 3rem 8rem;
}

.contact {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.164);
}

.form {
  color: #363636;
  padding: 3rem 5rem;
  text-align: left;
}

.form h1 {
  font-size: 2rem;
  font-weight: bold;
}

.form p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form input,
.form textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-bottom: solid 1px gray;
  padding: 0.5rem;
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.form button {
  font-size: 1rem;
  background: rgb(9, 9, 121);
  background: linear-gradient(
    28deg,
    rgba(9, 9, 121, 1) 7%,
    rgba(119, 38, 171, 1) 100%
  );
  color: white;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 20px;
  cursor: pointer;
}

.form button:hover {
  transform: scale(1.1);
  transition: ease 0.3s;
}

.info_div {
  background-color: #363636;
  color: #fff;
  text-align: left;
  padding: 2rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  line-height: 40px;
}

.info_div h3,
.info_div .info {
  text-align: left;
  font-size: 1rem;
  margin: 10px 0;
}

.socials_info {
  margin-top: 1rem;
  float: right;
}

.socials_info i {
  margin: 0 10px;
}

/************** FOOTER **************/

.footer {
  background-color: #1f1f1f;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: start;
  justify-content: center;
  gap: 10rem;
  padding: 30px;
}

.footer h2 {
  margin-bottom: 10px;
}

.hr-footer {
  height: 2px;
  width: 40%;
  border-width: 0;
  background-color: red;
  margin-bottom: 20px;
}

.follow i {
  margin-top: 30px;
  background-color: #363636;
  padding: 10px;
  border-radius: 5px;
}

.follow .fa-brands:hover {
  transition: ease 0.3s;
  background-color: red;
}

.linkList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.linkList a {
  text-decoration: none;
  color: #363636;
  display: block;
  padding: 5px 10px;
}

.linkList a:hover {
  transition: ease 0.3s;
  color: #fff;
}

.subscribe p {
  color: #363636;
}
.final {
  background-color: #363636;
  text-align: center;
  color: white;
  padding: 20px;
}

/************** MEDIA QUERIES **************/

@media (max-width: 900px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hero_img {
    display: none;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .logo {
    margin-left: -30px;
  }

  .menu-icon {
    display: block;
  }

  .nav-bar {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #363636;
    position: absolute;
    top: 90px;
    left: 0;
    padding-left: 10px;
  }

  .nav-bar.active {
    display: flex;
  }

  .nav-bar li {
    margin: 10px 0;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hero_img {
    display: none;
  }

  .articles {
    display: grid;
    grid-template-columns: 1fr;
  }

  .testimonials {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .logo img {
    max-height: 40px;
    margin: 10px;
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  footer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .logo a {
    font-size: 15px;
  }

  .hero_text h1 {
    font-size: 40px;
  }

  .hero_text p {
    font-size: 15px;
  }

  .users img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  .nav-bar {
    top: 60px;
  }
}
