* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #363636;
}

/*******************NAVBAR********************/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363636;
  padding: 10px 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.logo img {
  max-height: 50px;
  margin-right: 10px;
}

.menu-icon {
  display: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.nav-bar {
  display: flex;
  list-style: none;
}

.nav-bar li {
  margin: 0 10px;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
}

.nav-bar a:hover,
.nav-bar .active {
  color: orange;
}

/*******************HERO********************/

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(255, 228, 196, 0.37);
}

.hero img {
  margin: 50px 7px;
  max-width: 90%;
  width: 630px;
}

.hero_text {
  margin: 5rem;
}

.hero_text h1 {
  font-size: 3.2rem;
}

.hero_text p {
  margin-top: 3rem;
  line-height: 2.2rem;
  font-size: 1.3rem;
}

.hero_text button {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding: 1rem 2rem;
  color: #fff;
  background-color: orange;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.hero_text button:hover {
  transform: translate(20px, -10px);
  transition: ease-in-out 0.5s;
  background-color: #363636;
}

.users {
  display: flex;
}

.users img {
  border: solid 0.15rem #fff;
  border-radius: 5rem;
  max-width: 100%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.users .user {
  margin-right: -20px;
}

.users .user-text {
  margin-top: 60px;
  margin-left: 10px;
  font-weight: bold;
}

main {
  background-color: #363636;
  color: #fff;
  text-align: center;
}

section {
  padding-bottom: 3rem;
}

.section_line {
  border-color: red;
  width: 15%;
  margin: auto;
}

.section_title {
  text-transform: uppercase;
  font-size: 1.8rem;
  padding-top: 6rem;
  margin-bottom: 1rem;
}

.section_title_paragraph {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 5rem;
  text-align: start;
}

article {
  background-color: #00000054;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.449);
}

.icon_article {
  color: red;
  margin: 2rem;
  font-size: 2rem;
}

article h3 {
  margin: 0 0 2rem 2rem;
}

article hr {
  height: 2px;
  border-width: 0;
  background-color: #363636;
}

article p {
  margin: 2rem 2rem 0 2rem;
}

article i {
  color: red;
  margin: 2rem;
}

article a {
  color: #fff;
  text-decoration: none;
  margin-left: -1.3rem;
}

article a:hover {
  color: orange;
}

/************** MEDIA QUERIES **************/

@media (max-width: 900px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .hero_img {
    display: none;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-bar {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #363636;
    position: absolute;
    top: 70px;
    left: 0;
    padding-left: 10px;
  }

  .nav-bar.active {
    display: flex;
  }

  .nav-bar li {
    margin: 10px 0;
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .hero_img {
    display: none;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 500px) {
  .articles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
